<!-- prescription.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Prescription</title>
    <style>
      table {
        border-collapse: collapse;
        width: 100%;
      }

      th,
      td {
        text-align: center;
        padding: 8px;
      }

      tr:nth-child(even) {
        background-color: #d6eeee;
      }
    </style>
  </head>
  <body style="background: url('test.jpg'); background-size: cover">
    <div style="margin-left: 250px">
      <h3>HEALTH EASE PRESCRIPTION</h3>
    </div>
    <% prescriptions.forEach(prescription => { %>
    <h2><%= prescription.prescriptionReason %> Diagnosis</h2>
    <p><strong>Medicine:</strong> <%= prescription.medicineName %></p>
    <table>
      <tr>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Amount</th>
        <th>Frequency</th>
        <th>Administration</th>
      </tr>
      <tr>
        <td><%= prescription.startDate %></td>
        <td><%= prescription.endDate %></td>
        <td><%= prescription.amount %></td>
        <td><%= prescription.frequency %></td>
        <td><%= prescription.administration %></td>
      </tr>
    </table>
    <p>
      <strong>Special Instructions:</strong> <%= prescription.specialInstruction
      %>
    </p>
    <p>
      <strong>Recommended Test:</strong> <%= prescription.recommendedTest %>
    </p>
    <% }); %>
  </body>
</html>
